@media screen and (min-width: 841px) {

body {
  margin: 0 auto !important;
  font-family: "Hammersmith One", sans-serif;
  background-color: rgb(237, 237, 237);
}

a{
  text-decoration: none;
}

h1{
  text-align: center;
  color: rgb(61, 61, 61);
  font-weight:normal;
  font-size: 26px;
  letter-spacing: 2px;
  margin-top: 0.8em;
  margin-bottom: 0.9em;
}


header ul{
  display: flex;
  justify-content: center;
  -webkit-padding-start: 0px;
  border-bottom: solid 1px #D8D8D8;
  border-top: solid 1px #D8D8D8;
  padding:4px 0;
  margin:0 5%;
}

header li{
  text-decoration: none;
  list-style: none;
  padding: 0.8% 2%;
  font-size: 11px;
  letter-spacing: 1.5px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
}

header li a{
  color: rgb(122, 122, 122);
}


header li a:hover{
  color: rgb(16, 212, 230);
}

main{
  width: 90%;
  margin: 42px auto;
}

.flex_container{
  display: flex;
  width: 86%;
  margin: 0px auto;

}

.samnail{
  margin:0 0.8%;
}



.samnail img{
  max-width: 100%;
}

.samnail h3{
  text-align: center;
  color: rgb(122, 122, 122);
  font-family: Montserrat, sans-serif;
  font-size: 11px;
  letter-spacing: 1.75px;
  font-weight: 600;
  -webkit-margin-before: 0.4em;
}


.samnail:hover h3{
  color: rgb(16, 214, 228);
}



}
