@media screen and (min-width: 841px) {

body {
  max-width: 1100px;
  margin: 0 auto !important;
  font-family: sans-serif;
  background-color: rgb(237, 237, 237);
}

a{
  text-decoration: none;
}


.back_arrow{
  position: relative;
  display: inline-block;
  padding: 0 0 0 13px;
  color: #000;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
}

.back_arrow::before,
.back_arrow::after{
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.back_arrow::before{
  left: 3px;
  width: 8px;
  height: 1px;
  background: rgb(122, 122, 122);
}

.back_arrow::after{
  left: 3px;
  width: 6px;
  height: 6px;
  border-top: 1px solid rgb(122, 122, 122);
  border-left: 1px solid rgb(122, 122, 122);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

a .back_arrow {
  color: rgb(122, 122, 122);
}

a .back_arrow:hover{
  color: #02BCD3;
  border-color: #02BCD3;
}

a .back_arrow:hover::before{
  background: #02BCD3;
}


a .back_arrow:hover::after{
  border-top: 1px solid #02BCD3;
  border-left: 1px solid #02BCD3;
}

.back_arrow:hover::before,
.back_arrow:hover::after{
  left: -0.03em;
}



.margin_bottom15{
  margin-bottom: 15px;
}

.margin_bottom6{
  margin-bottom: 6px;
}

.margin_top20 {
  margin-top: 20px;
}

.margin_top60{
  margin-top: 60px;
}

.margin_right20{
  margin-right: 20px;
}

.float_clear{
  overflow: hidden;
}

h1, h1 a{
  text-align: center;
  font-family: "Hammersmith One", sans-serif;
  color: rgb(61, 61, 61);
  font-weight:normal;
  font-size: 26px;
  letter-spacing: 2px;
  margin-top: 0.8em;
  margin-bottom: 0.9em;
}

h2{
  -webkit-margin-before: 0.4em;
  -webkit-margin-after: 0.4em;
  margin-before: 0.4em;
  margin-after: 0.4em;
}

h4{
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  margin-before: 1em;
  margin-after: 1em;
}


header ul{
  display: flex;
  justify-content: center;
  -webkit-padding-start: 0px;
  border-bottom: solid 1px #D8D8D8;
  border-top: solid 1px #D8D8D8;
  padding:4px 0;
  margin:0 5%;
}

header li{
  text-decoration: none;
  list-style: none;
  padding: 0.8% 2%;
  font-size: 11px;
  letter-spacing: 1.5px;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  color: rgb(13, 169, 217);
}

header li a{
  color: rgb(122, 122, 122);
}

header li a:hover{
  color: rgb(16, 212, 230);
  transition: 0.3s;
}

header li a.page_now{
  color: rgb(13, 169, 217);
}

main{
  width: 90%;
  margin: 46px auto;
}

.flex_container{
  display: flex;
  width: 86%;
  margin: 0px auto;
}

.samnail{
  margin:0 0.8%;
}


.samnail img{
  max-width: 100%;
}

.samnail h3{
  text-align: center;
  color: rgb(122, 122, 122);
  font-family: Montserrat, sans-serif;
  font-size: 11px;
  letter-spacing: 1.75px;
  font-weight: 600;
  -webkit-margin-before: 0.4em;
}


.samnail:hover h3{
  color: rgb(16, 214, 228);
  transition: 0.3s;
}

h2.subtitle{
  font-family: Montserrat, sans-serif;
  color: rgb(13, 169, 217);
  margin-left: 6.8%;
  font-size: 11px;
  font-weight: 700;
}

p{
  /*color: rgb(122, 122, 122);*/
  color: #544659;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  line-height: 28px;
  letter-spacing: 0.25px;
  font-weight: normal;
  -webkit-margin-before: 0em;
}

/* coding page, photography page, design page*/

.samnail_center{
  display: inline-block;
  margin-left: 5.6%;
  overflow:hidden;
}


/* design page */


#design .samnail{
  float: left;
  width: 22%;
  margin: 1.2% 0 2px 1.2%;
}


#design .samnail h3{
  min-height: 28px;
  line-height: 1.3em;
}

/* design detail page */

.detail_left{
  position: relative;
  display: block;
  width: 500px;
  float: left;
}

#design_detail .detail_right{
  color: #544659;
}

.bg_gray{
  background-color: #6D6570;
  padding:0px 8px;
  color: #FFFFFF;
  margin-right: 8px;
  line-height: 2em;
  font-weight: 300;
  font-size: 0.9em;
  letter-spacing:0.1em;
  font-family: "Open Sans", sans-serif;
  word-break: break-word;
  float: left;
}

#design_detail h2, #design_detail h4{
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

#design_detail h4{
  font-size: 1em;
}

#design_detail h4 span{
  text-transform:none;
  margin-left: 5px;
}



/* coding page */

#coding .samnail{
  float: left;
  width: 17.4%;
  margin: 1.2% 0 6px 1.2%;
}





/* photography page */


#photography .samnail{
  float: left;
  width: 22%;
  margin: 1.2% 0 6px 1.2%;
}


/* about page */

#about{
  width: 84%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.pro_picture{
  width: 34%;
  height: auto;
  max-height: 100%;
  align-self: flex-start;
  max-width: 360px;
}

#about h2{
  margin-top: 60px;
  font-size: 12px;
  letter-spacing: 1.5px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  color: rgb(122, 122, 122);
}

form{
  font-family: "Open Sans", sans-serif;
  color: rgb(122, 122, 122);
  font-size: 13px;
  letter-spacing: 1px;
  margin-left: 0px;
}

form>div{
  margin-top: 20px;
}

label{
  margin-left: 2px;
}

#msg{
  height: 6.4em;
}

#name, #mail, #msg{
  margin-top: 6px;
  width: 100%;
  padding: 10px 8px;
  border-radius: 3px;
  border: 1px solid #d3d3d3;
}

form .button{
  margin-top: 30px;
}

form .button button{
  display: block;
  margin:0 auto;
  background-color: rgb(145, 161, 166);
  border-radius: 0px;
  color: #FFF;
  padding: 10px 4% 8px 4%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Hammersmith One", sans-serif;
}

form .button button:hover{
  opacity: 0.8;
  transition: 0.3s;
}





}
